NODE_ENV=development
PORT=3000
LOKI_PORT=3100
NODE_EXPORTER_PORT=9100
LOG_LEVEL=info
BASE_URL=http://localhost
SENTRY_DSN=
IS_OPEN_API_CI=false
REDIS_PORT=6379
REDIS_PASSWORD=na
EMAIL_ADDRESS=na
RESEND_API_KEY=na